@using Proyecto.Controllers
@using Proyecto.Models
@model IEnumerable <Proyecto.Models.Pelicula>
    @{
    Layout = null;
    

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CargaCsv</title>
    <style type="text/css">
        body {
            font-family: Calibri;
            font-size: 10pt;
        }

        h1 {
            alignment: center;
        }

        h2 {
            background: greenyellow;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            background-color: #fff;
        }

            table th {
                background-color: #B8DBFD;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }

            table, table td {
                border: 0px solid #ccc;
            }
    </style>
</head>
<body>
    <h2>
        <li>@Html.ActionLink(" Regresar", "Index", "Pelicula")</li>
    </h2>
    <h1>Peliculas</h1>    
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>Tipo</th>
            <th>Nombre</th>
            <th>Anio de Lanzamiento</th>
            <th>Genero</th>        

        </tr>

       
            
       
    </table>
</body>
</html>